version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: agrosolutions-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - agrosolutions-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agrosolutions-iot-alertas-container
    ports:
      - "7003:7003"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      NEW_RELIC_LICENSE_KEY: a93de70c8ec068ba98a386ffe4fb3346FFFFNRAL
      RabbitMq__HostName: rabbitmq
      RabbitMq__Port: 5672
    networks:
      - agrosolutions-network
    depends_on:
      rabbitmq:
        condition: service_healthy

networks:
  agrosolutions-network:
    driver: bridge
