name: CI/CD das APIs da AgroSolution

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar pacotes
      run: |
        dotnet restore AgroSolutions.IoT.Alertas/AgroSolutions.IoT.Alertas.sln
        dotnet restore AgroSolutions.IoT.Identidade/AgroSolutions.IoT.Identidade.sln
        dotnet restore AgroSolutions.IoT.IngestaoDados/AgroSolutions.IoT.IngestaoDados.sln
        dotnet restore AgroSolutions.IoT.Propriedades/AgroSolutions.IoT.Propriedades.sln

    - name: Build
      run: |
        dotnet build AgroSolutions.IoT.Alertas/AgroSolutions.IoT.Alertas.sln --configuration Release --no-restore
        dotnet build AgroSolutions.IoT.Identidade/AgroSolutions.IoT.Identidade.sln --configuration Release --no-restore
        dotnet build AgroSolutions.IoT.IngestaoDados/AgroSolutions.IoT.IngestaoDados.sln --configuration Release --no-restore
        dotnet build AgroSolutions.IoT.Propriedades/AgroSolutions.IoT.Propriedades.sln --configuration Release --no-restore

    - name: Testes
      run: |
        dotnet test AgroSolutions.IoT.Propriedades/AgroSolutions.IoT.Propriedades.Tests/AgroSolutions.IoT.Propriedades.Tests.csproj --verbosity normal
        dotnet test AgroSolutions.IoT.Identidade/AgroSolutions.IoT.Identidade.Tests/AgroSolutions.IoT.Identidade.Tests.csproj --verbosity normal
        dotnet test AgroSolutions.IoT.IngestaoDados/AgroSolutions.IoT.IngestaoDados.Tests/AgroSolutions.IoT.IngestaoDados.Tests.csproj --verbosity normal

  build-and-deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        run: echo "Login no Docker Hub"

      - name: Build e push Docker image
        run: echo "Build das imagens Docker e push para o Docker Hub"

      - name: Login no Azure
        run: echo "Login no Azure para executar os manifests kubernetes"
          
      - name: Kubernetes Set Context
        run: echo "Kubernetes Set Context"

      - name: Criar/atualizar secrets no AKS
        run: echo "Criar/atualizar secrets no AKS"

      - name: Deploy para o AKS
        run: echo "Executa manifests kubernetes no AKS"